#Title1
{
	text-align: center;
	color: black;
	font-weight: bold;
	font-size: 40px;
	letter-spacing: 1px;
}

#HomeImage
{
	text-align: center;
}

#FranceText
{
	text-align: center;
}

#FranceMap
{
	float: left;
	display: inline-block;
	text-align: left;
	padding-left: 120px;
}

#FranceFlag
{
	float: right;
	display: inline-block;
	text-align: right;
	padding-right: 120px;
}
