#Title1 /*formatting for main title*/
{
	text-align: center;
	color: black;
	font-weight: bold;
	font-size: 40px;
	letter-spacing: 1px;
}

#HomeImage
{
	text-align: center;
}

#Text /*formatting for general country information*/
{
	text-align: left;
}

#FranceMap
{
	float: left;
	display: inline-block;
	text-align: left;
	padding-left: 120px;
}

#FranceFlag
{
	float: right;
	display: inline-block;
	text-align: right;
	padding-right: 120px;
}

#IndiaMap
{
	float: left;
	display: inline-block;
	text-align: left;
	padding-left: 90px;
}

#IndiaFlag
{
	float: right;
	display: inline-block;
	text-align: right;
	padding-right:90px;
}

#ChinaMap
{
	float: left;
	display: inline-block;
	text-align: left;
	padding-left: 90px;
}

#ChinaFlag
{
	float: right;
	display: inline-block;
	text-align: right;
	padding-right: 90px;
}

#NigeriaMap
{
	float: left;
	display: inline-block;
	text-align: left;
	padding-left: 90px;
}

#NigeriaFlag
{
	float: right;
	display: inline-block;
	text-align: right;
	padding-right: 90px;
}

#MexicoMap
{
	float: left;
	display: inline-block;
	text-align: left;
	padding-left: 90px;
}

#MexicoFlag
{
	float: right;
	display: inline-block;
	text-align: right;
	padding-right: 90px;
}

#CanadaMap
{
	float: left;
	display: inline-block;
	text-align: left;
	padding-left: 50px;
}

#CanadaFlag
{
	float: right;
	display: inline-block;
	text-align: right;
	padding-right: 90px;
}

#BrazilFlag
{
	float: left;
	display: inline-block;
	text-align: left;
	padding-left: 50px;
}

#BrazilMap
{
	float: right;
	display: inline-block;
	text-align: right;
	padding-right: 90px;
}

#ItalyFlag
{
	float: left;
	display: inline-block;
	text-align: left;
	padding-left: 50px;
}

#ItalyMap
{
	float: right;
	display: inline-block;
	text-align: right;
	padding-right: 90px;
}

#JapanFlag
{
	float: left;
	display: inline-block;
	text-align: left;
	padding-left: 50px;
}

#JapanMap
{
	float: right;
	display: inline-block;
	text-align: right;
	padding-right: 90px;
}

#PakistanFlag
{
	float: left;
	display: inline-block;
	text-align: left;
	padding-left: 50px;
}

#PakistanMap
{
	float: right;
	display: inline-block;
	text-align: right;
	padding-right: 90px;
}
